@import url(https://fonts.googleapis.com/css?family=Baloo);

  *{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    max-width: 100%;
}

body {
    font-family: "Baloo";
    background-color: rgba(126, 168, 158, 0.829);
}

h1  {
    margin-bottom: 8px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    width: 100%;
    height: 100vh;
    margin-top: 8px;
    max-width: 100%;
}


section, h1, .buttons {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 4em;
    max-width: 100%;
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    z-index: 100;
    background-color: rgb(116, 206, 183);
    border-radius: 10px;
    box-shadow: 11px 11px 16px 0 rgba(0, 0, 0, 0.404);
    max-width: 100%;

}

h1 {
    font-size: 38px;
    color: rgb(23, 230, 212);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

button {
    color: white;
    padding: 5px;
    background-color:  rgb(21, 88, 72);
    border-radius: 12px;
    font-family: 'Baloo';
    margin: 15px;
    font-size: 18px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    outline: none;  
}

button:hover {
    background-color: rgb(134, 0, 0);
    color: yellow;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 0, 0.548);
}

.buttons {
    top: 1.8%;
}

h1 {
    top: 0%;
}

